<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.manager.mapper.BaseAttrInfoMapper" >
    <resultMap id="baseAttrInfoMap" type="com.atguigu.gmall.bean.BaseAttrInfo" autoMapping="true">
        <id property="id" column="id"></id>

        <collection property="attrValueList" ofType="com.atguigu.gmall.bean.BaseAttrValue" autoMapping="true">
            <id property="id" column="attr_value_id"></id>
        </collection>
    </resultMap>
    <select id="getBaseAttrInfoListByCatalog3Id" resultMap="baseAttrInfoMap">
        SELECT
          bai.id,
          bai.`attr_name`,
          bai.`catalog3_id`,
          bav.id attr_value_id,
          bav.`value_name`,
          bav.`attr_id`
        FROM
          base_attr_info bai
          INNER JOIN base_attr_value bav
            ON bai.`id` = bav.attr_id
        WHERE catalog3_id = #{catalog3Id}
    </select>

    <select id="getBaseAttrInfoListByValueIdList" resultMap="baseAttrInfoMap">
        SELECT
          ai.id,
          ai.attr_name,
          ai.catalog3_id,
          av.id attr_value_id ,
          av.attr_id ,
          av.value_name
        FROM base_attr_info ai
            INNER JOIN base_attr_value av
            ON ai.id=av.attr_id
        WHERE av.id IN (${attrValues})
    </select>
</mapper>