<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.cart.mapper.CartInfoMapper">
    <select id="selectCartListWithCurPrice" resultMap="cartMap">
      SELECT c.*,s.price
      FROM  cart_info c
      INNER JOIN  sku_info s
      ON c.sku_id = s.id
      WHERE c.user_id=#{userId} 
      ORDER BY c.id DESC
    </select>
    <resultMap id="cartMap" type="com.atguigu.gmall.bean.CartInfo" autoMapping="true">
        <id column="id" property="id"></id>
        <result property="skuPrice" column="price"></result>
    </resultMap>
</mapper>